version: '0.4.{build}'

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

build_script:
  - ps: dotnet build

test_script:
  - ps: dotnet test .\CSV.Test\CSV.Test.csproj -f net462